fastapi
uvicorn
python-multipart
pydantic
opencv-python-headless
python-dotenv
numpy==1.26.4
mediapipe
requests
diffusers
transformers
accelerate
torch
torchvision
onnxruntime==1.17.3
insightface==0.7.3
rembg
requests
